svg {
    font-family: 'orbitron', 'Russo One', sans-serif;
    position: absolute;
    top: 10%;
    left: 10%;
}

svg text {
    text-transform: uppercase;
    animation: stroke 4s forwards;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 80px;
    transform: translate(15%, 90%);
}

@keyframes stroke {
    0% {
        fill: rgba(255, 255, 255, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    50% {
        fill: rgba(255, 255, 255, 0);
        stroke: rgb(255, 251, 30);
    }
    
    80% {
        fill: rgba(255, 255, 255, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-width: 3;
    }

    100% {
        fill: rgba(255, 255, 255, 0.89);
        stroke: rgba(0, 0, 0, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 40;
    }
}